@import "@styles/variables.scss";
#mainContent {
	display: flex;
	height: 100vh;
	overflow: hidden;
	aside {
		width: 20%;
		position: relative;
		height: 100%;
	}
	main {
		width: 80%;
		height: 100%;
		padding: 1rem 2rem;
		overflow: auto;
		background: $mainBg;
	}
}
